table{
	margin-top: 10px;
}

#tooltip {
	background-color: white;
	opacity: 0.8;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.hidden{
	display: none;
}

#posturas {
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	/*width: 800px;*/
	margin-left: 10px;
	margin-top: 0px;
}

.provincia {
	fill: #405ac2;
	pointer-events: auto;
}

.provincia.disabled {
	pointer-events: none;
}

.provincia.current {
	fill: red;
}

.posturadip {
    
    stroke-width: 2;
	fill: none;
}

.posturadip.oficialista {
	stroke: #6b9eea;
}
.posturadip.opositora {
	stroke: #bbf098;
}
.posturadip.variable {
	stroke: #f0a198;
}

.posturadip.oficialista.current,
.posturadip.opositora.current,
.posturadip.variable.current
 {
    stroke: red;
    stroke-width: 2;
}

.posturadip.oficialista.disabled,
.posturadip.opositora.disabled,
.posturadip.variable.disabled
 {
    stroke: #d9d8d8;
    pointer-events: none;
}

.posturadip.oficialista.enabled,
.posturadip.opositora.enabled,
.posturadip.variable.enabled
 {
    stroke: blue;
    pointer-events: auto;
}

#mapa {
	/*float: right;*/
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	margin-right: 10px;
}

.yaxis path,
.xaxis path,
.yaxis line,
.xaxis line{
	fill:none;
	stroke:#8c8989;
	shape-rendering:crispEdges;
}

.ref text{
	font-family: "Helvetica Neue",Arial,sans-serif;
	font-size: 10px;
}

.fondo1 text{
	font-family: "Helvetica Neue",Arial,sans-serif;
	font-weight: bold;
}

.flechas text{
	font-family: "Helvetica Neue",Arial,sans-serif;
	font-size: 12px;
}

.yaxis text,
.xaxis text{
	font-family:sans-serif;
	font-size: 12px;
}

#tristate{
	margin-top: 15px;
	position: absolute;
	left: 105px;
}

img {
	width: 100px;
}